@import url(".././index.css");

.sidebarContainer {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.headerContainer {
  margin-left: 230px;
  height: 100vh;
  overflow: auto;
  flex: 1;
}

.outletContainer {
  max-width: 1200px;
  margin: 0 auto;
  
}
